<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="me.phh.treble.overlay.nubia.RedMagic9Series"
        android:versionCode="1"
        android:versionName="1.0">
        <overlay android:targetPackage="android"
        	android:requiredSystemPropertyName="ro.product.device"
        	android:requiredSystemPropertyValue="*ubia/NX769*"
		android:priority="174"
		android:isStatic="true" />
</manifest>
